*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
}

html,body{
  display: grid;
  place-items: center;
  background-color: #F6D5B6;
}


.questionario{
  width: 40rem;
  height: 56.5rem;
  margin-top: 3rem;
  background: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.form-inner form .caixa{
  height: 45px;
  width: 100%;
  margin-top: 18px;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.form-inner form .caixa input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #d6d6d6;
  padding: 10px 9px;
}

.form-inner form .caixa input:hover{
  transition: 0.3s;
  border: 1px solid #000000;
}


.enviar{
  height: 4rem;
  width: 100%;
  background: #527471;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: white;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  padding-top: 0.8rem;
}


a[type="submit"]{
  width: 220px;
  height: 35px;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 0.3rem;
  margin-bottom: -49rem;
}



.obg{
  color: red;
}

.caixa{
  font-size: 0.8rem;
  font-weight: bold;
}




.progresso {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 5rem;  
}

.linha1, .linha2, .linha3{
  background-color: #527471;
  width: 5rem;
  height: 0.5rem;
  margin-top: 1.85rem;
}

.pessoa, .endereco, .formPag, .pedido{
  width: 4rem;
  height: 4rem;
  background-color: #527471;
  border-radius: 50%;
  padding: 0.7rem;
  color: #ffffff;
}

.endereco, .formPag, .pedido{
  padding: 0.9rem;
}

.etapa1, .etapa2, .etapa3, .etapa4{
  margin-top: 4rem;
  line-height: 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  color: #bebebe;
}

.etapa1{
  margin-left: -0.6rem;
}
.etapa2{
  margin-left: -1.4rem;
}
.etapa3{
  margin-left: -1.9rem;
}
.etapa4{
  margin-left: -0.7rem;
}




