.linha3{
  background-color: #ffffff;
}

.pedido{
  background-color: #d6d6d6;
}


.etapa3{
  color: #527471;
}

.accordion{
  position: relative;
  margin-top: 3.5rem;
  text-align: left;
}

body{
  
  background-color: #F6D5B6;

}

.questionario{
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.card-header{
  background-color: rgba(220, 20, 60, 0.507);
}

.t-item{
  border: none;
  outline: none;
  background-color: #527471;
  color: #ffffff;
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.dados{
  margin-top: -2rem;
  padding: 1rem;
  background-color: #f7f4f4;
}

.questionario .t-item{
  font-size: 1.4rem;
}

.caixa{
  margin-bottom: 3rem;
}


.data{
  margin-left: 1.5rem;
  outline: none;
  border: 1px solid #d6d6d6;
  padding: 10px 9px;
}

p {
  padding-top: 2rem;
  font-size: 1.4rem;
}