*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: #F6D5B6;
}

.questionario{
  max-width: 390px;
  background: #ffffff;
  padding: 2rem;
}

.questionario .titulo{
  display: flex;
  width: 200%;
}

.questionario .title{
  width: 50%;
  font-size: 25px;
  font-weight: 1000;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"]{
  display: none;
}

.form-inner form .caixa{
  height: 45px;
  width: 100%;
  margin-top: 18px;
}

.form-inner form .caixa input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #d6d6d6;
  padding: 10px 9px;
}

.form-inner form .caixa input:hover{
  transition: 0.3s;
  border: 1px solid #000000;
}


.enviar{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}


input[type="submit"]{
  height: 100%;
  width: 100%;
  background: #527471;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
  
}



.obg{
  color: red;
}
.ti{
  padding-bottom: 1rem;
}
.caixa{
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.ncad, .ncad a{
  margin-top: 1rem;
}
